.kit-player {
	background-color: #000;
}

.kit-player video p {
	color: #fff;
	margin: 50px 20px;
}

.kit-player.error-unsupported, .kit-player.error-unsupported video{
	width: 400px;
	height: 300px;
}

.kit-player .controls-bar {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.kit-player .controls {
	overflow: hidden;
}

.kit-player .control-timeline {
	position: absolute; /* @todo remove */
	cursor: pointer;
}

/* This is a fix for having padding on control-timeline - so we can use inner divs being positioned absolutely */
.kit-player .control-timeline .control-timeline-elements {
	position: relative;
}

.kit-player .control-timeline-loaded {
	position: absolute; /* @todo remove */
}

.kit-player .control-timeline-bar {
	position: absolute; /* @todo remove */
}

.kit-player .control-button-play {
	cursor: pointer;
}

.kit-player .control-button-mute {
	cursor: pointer;
}

.kit-player .control-volume {
	cursor: pointer;
}

.kit-player .wrapper {
	overflow: hidden;
	clear: both;
	background-image: url('transparent.gif');
}

.kit-player .indicator-loading {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -12px;
	margin-top: -14px;
	display: none;
}

.kit-player.is-waiting .indicator-loading, .kit-player.is-seeking .indicator-loading {
	display: inline-block;
}

.kit-player.is-fullscreen, .kit-player.is-fullscreen > video, .kit-player.is-fullscreen > .wrapper {
	width: 100% !important;
	height: 100% !important;
}

.kit-player.is-playing-ad {
	cursor: pointer;
}

.kit-player .control-timeline-loaded.connect-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.kit-player .control-timeline-loaded.connect-left {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.kit-player-timeline-caret > a {
	position: absolute;
}

.kit-player-timeline-caret {
	margin-left: 100%;
	position: absolute;
}

/* jQuery's animate forces an overflow hidden */
.kit-player .control-timeline-bar {
	overflow: visible !important;
}

/* Needed for smooth scrolling of the caret */
.kit-player .control-timeline {
	z-index: 2;
}