/** skin.default : .kit-player.skin-default */

.kit-player.skin-default i[class*='icon-'] {
	color: #fff;
}

.kit-player.skin-default .controls {
	background-color: rgba(255,255,255,.5);
	padding: 2px;
	margin: 5px;
	border-radius: 5px;
}

.kit-player.skin-default .control-timeline {
	height: 10px;
	background-color: rgba(255,255,255,.25);
	border-radius: 5px;
	margin: 5px 5px;
}

.kit-player.skin-default .control-timeline-loaded {
	height: 10px; /* @todo remove */
	background-color: #fff;
	border-radius: 5px;
}

.kit-player.skin-default .control-timeline-bar {
	height: 10px; /* @todo remove */
	background-color: rgba(255,0,0,.25);
	border-radius: 5px;
}

.kit-player.skin-default .control-button-play {
	float: left;
	margin: 2px;
}

.kit-player.skin-default .control-button-mute {
	float: right;
	margin: 2px;
}

.kit-player.skin-default .control-info-time {
	float: right;
	color: #fff;
	font-size: 10px;
}

.kit-player.skin-default .control-volume {
	float: right;
	width: 100px;
	height: 10px;
	margin: 5px 5px 5px 0;
	border-radius: 5px;
	background-color: #fff;
}

.kit-player.skin-default .control-volume-bar {
	background-color: rgba(255,0,0,.25);
	height: 10px; /* @todo remove */
	border-radius: 5px;
}

.kit-player.skin-default .control-fullscreen {
	top: 5px;
	right: 5px;
	position: absolute;
}

/** skin.yt : .kit-player.skin-yt */

.kit-player.skin-yt i[class*='icon-'] {
	color: #fff;
}

.kit-player.skin-yt .control-timeline {
	height: 10px;
	background-color: rgba(255,255,255,.25);
	left:0;
	right:0;
	bottom: 30px;
}

.kit-player.skin-yt .contents {
	overflow: hidden;
	background-color: rgba(255,255,255,.25);
}

.kit-player.skin-yt .contents ol {
	list-style-type: none;
	list-style-image: none;
	margin:0;
	padding:0;
}

.kit-player.skin-yt .contents ol li {
	float: left;
	text-align: center;
}

.kit-player.skin-yt .contents ol li a {
	display: block;
	margin: 5px;
	background-color: rgba(50,50,50,.25);
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}

.kit-player.skin-yt .indicator-loading {
	color: #f00 !important;
}

.kit-player.skin-yt .control-timeline-loaded {
	height: 10px; /* @todo remove */
	background-color: #fff;
}

.kit-player.skin-yt .control-timeline-bar {
	height: 10px; /* @todo remove */
	background-color: #d00;
}

.kit-player.skin-yt .kit-player-timeline-caret {
	height: 10px;
}

.kit-player.skin-yt .kit-player-timeline-caret > a {
	margin-top: -4px;
	border-radius: 10px;
	border: 7px solid #fff;
	width: 5px;
	height: 5px;
	margin-left: -11px;
	background-color:#ccc;
}

.kit-player.skin-yt .controls-bar {
	background-color: #000;
	z-index: 1;
	padding-top: 5px;
}

.kit-player.skin-yt .control-button-play {
	float: left;
	margin: 4px 9px;
}

.kit-player.skin-yt .control-button-mute {
	float: left;
	margin: 4px 9px;
}

.kit-player.skin-yt .control-info-time {
	float: right;
	color: #fff;
	font-size: 10px;
	margin: 2px;
}

.kit-player.skin-yt .control-settings {
	float: right;
	margin: 4px;
}

.kit-player.skin-yt .control-volume {
	float: left;
	width: 100px;
	height: 6px;
	margin: 7px 5px 7px 0;
	background-color: #fff;
}

.kit-player.skin-yt .control-volume-bar {
	/*background-color: rgba(255,0,0,.25);*/
	background-color: #d00;
	height: 6px;
}

.kit-player.skin-yt .control-fullscreen {
	float: right;
	margin: 4px;
}

.kit-player .kit-player-settings {
	position: absolute;
	color: #fff;
	background-color: #333;
	z-index: 500;
	font-size: .8em;
}

.kit-player .kit-player-settings a {
	display: block;
	color: #fff;
	padding: 2px 4px;
	white-space: no-wrap;
}

.kit-player .kit-player-settings a  i {
	font-size: .75em;
}

.kit-player .kit-player-settings a:hover  {
	text-decoration: none;
	background-color: #666;
}

.kit-player.skin-yt.is-playing-ad  .control-timeline, .kit-player.skin-yt.is-playing-ad  .control-timeline-bar, .kit-player.skin-yt.is-playing-ad  .control-timeline-loaded, .kit-player.skin-yt.is-playing-ad .annotation-ad {
	height: 5px;
}

.kit-player.skin-yt.is-playing-ad  .control-timeline-bar {
	background-color: #ffd700;
}

.kit-player.skin-yt.is-playing-ad  .control-timeline-bar a {
	display: none;
}

.kit-player.skin-yt i[class*='icon-']:hover, .kit-player .kit-player-settings a.active i {
	color: #f00;
}

.kit-player .annotation-ad {
	width: 5px;
	background-color: #ffd700;
	position: absolute;
	height: 10px;
}

.kit-player .info-clip-title {
	background-color: rgba(0,0,0,.5);
	color: #fff;
	padding: 10px;
}

/**
 * skin.bubbles
 */
 
.kit-player.skin-bubbles i[class*='icon-'] {
	color: #fff;
}

.kit-player.skin-bubbles .control-button-play {
	float: left;
	margin: 4px;
	background-color: rgba(100,100,100,.75);
	padding: 5px;
	border-radius: 5px;
}

.kit-player.skin-bubbles .control-button-mute {
	float: left;
	margin: 4px;
	background-color: rgba(100,100,100,.75);
	padding: 5px;
	border-radius: 5px;
}

.kit-player.skin-bubbles i + i {
	margin-left: 0 !important;
}

.kit-player.skin-bubbles .control-fullscreen {
	float: right;
	margin: 4px;
	background-color: rgba(100,100,100,.75);
	padding: 5px;
	border-radius: 5px;
}

.kit-player.skin-bubbles .control-timeline {
	left: 20px;
	right: 20px;
	margin: 4px;
	background-color: rgba(100,100,100,.75);
	padding: 7px;
	border-radius: 5px;
	height: 10px;
}

.kit-player.skin-bubbles .control-timeline-loaded {
	height: 10px;
	background-color: #ccc;
	overflow: visible !important;
	border-radius: 2px;
}

.kit-player.skin-bubbles .control-timeline-bar {
	height: 10px;
	background-color: #fff;
	overflow: visible !important;
}

.kit-player.skin-flat .controls-bar {
	background-color: rgba(50,50,50,.5);
}

.kit-player.skin-flat {
	color: #fff;
}

.kit-player.skin-flat .control-button-play, .kit-player.skin-flat .control-button-mute, .kit-player.skin-flat .control-settings, .kit-player.skin-flat .control-fullscreen {
	padding: 5px;
	margin: 5px;
}

.kit-player.skin-flat .control-button-play {
	float: left;
}

.kit-player.skin-flat .control-settings {
	float: right;
}

.kit-player.skin-flat .control-volume {
	/*width: 200px;
	height: 10px;
	background-color: #fff;*/
}

.kit-player.skin-flat .control-fullscreen{
	float: right;
}

.kit-player.skin-flat .control-button-mute{
	float: right;
}

.kit-player.skin-flat .control-timeline {
	height: 10px;
	/* background-color: #f00; */
	margin: 12px 15px;
}

.kit-player.skin-flat .control-volume {
	position: absolute;
	height: 80px;
	background-color: #ccc;
}

.kit-player.skin-flat .control-volume-bar {
	background-color: #f79621;
	width: auto;
	height: auto;
	position: absolute;
	bottom: 0;
}

.kit-player.skin-flat .control-timeline-loaded {
	background-color: #ccc;
	height: 10px;
}

.kit-player.skin-flat .control-timeline-bar {
	height: 10px;
}

.kit-player.skin-flat .kit-player-timeline-caret > a {
	/*margin-top: -4px;
	border-radius: 10px;
	border: 7px solid #fff;
	*/
	/*
	width: 5px;
	height: 5px;
	*/
	margin-left: -13px;
	background-color:#333;
	width: 20px;
	line-height: 0;
	padding: 3px;
	text-align: center;
	margin-top: -4px;
	text-decoration: none;
	border-radius: 5px;
	
}

.kit-player.skin-flat .kit-player-timeline-caret > a > i { 
	color: #fff;
	font-size: 10px;
}

.kit-player.skin-flat .kit-player-timeline-caret > a > i + i {
	margin-left: 5px;
}

/* colorscheme : white (none) */

.kit-player .control-settings.disabled {
	color: #666;
}

/* colorscheme : orange */

/* disabled buttons */

.kit-player.cs-orange .control-settings.disabled {
	color: #666;
}

.kit-player.cs-orange .control-timeline-bar {
	background-color: #fff;
}

/* gray/black caret */
.kit-player.cs-orange .kit-player-timeline-caret > a {
	background: #7d7e7d;
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
}

/* controls */

.kit-player.cs-orange .control-timeline-bar {
	background: #f9c667;
	background: -moz-linear-gradient(top,  #f9c667 0%, #f79621 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9c667), color-stop(100%,#f79621));
	background: -webkit-linear-gradient(top,  #f9c667 0%,#f79621 100%);
	background: -o-linear-gradient(top,  #f9c667 0%,#f79621 100%);
	background: -ms-linear-gradient(top,  #f9c667 0%,#f79621 100%);
	background: linear-gradient(to bottom,  #f9c667 0%,#f79621 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 );
}

.kit-player.cs-red .kit-player-timeline-cared > a, .kit-player.cs-red .control-timeline-bar {
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}