.player {
	background-color: #333;
}

.control-timeline {
	height: 10px;
	background-color: rgba(255,255,255,.25);
	left:0;
	right:0;
	bottom: 20px;
	z-index: 2;
}

.control-timeline-loaded {
	height: 10px; /* @todo remove */
	background-color: #fff;
}

.control-timeline-bar {
	height: 10px; /* @todo remove */
	background-color: #d00;
	overflow: visible !important;
}

.control-timeline-bar > div {
	margin-left: 100%;
	height: 10px;
	position: absolute;
}

.control-timeline-bar > div > a {
	position: absolute;
	margin-top: -4px;
	border-radius: 10px;
	border: 7px solid #fff;
	width: 5px;
	height: 5px;
	margin-left: -11px;
	background-color:#ccc;
}

.controls-bar {
	background-color: #000;
	z-index: 1;
}

.control-button-play {
	float: left;
	margin: 2px;
}

.control-button-mute {
	float: left;
	margin: 2px;
}

.control-info-time {
	float: right;
	color: #fff;
	font-size: 10px;
}

.control-volume {
	float: left;
	width: 100px;
	height: 10px;
	margin: 5px 5px 5px 0;
	border-radius: 5px;
	background-color: #fff;
}

.control-volume-bar {
	background-color: rgba(255,0,0,.25);
	height: 10px; /* @todo remove */
	border-radius: 5px;
}

.control-fullscreen {
	top: 5px;
	right: 5px;
	position: absolute;
}

.player.is-paused {
		/* @todo add play icon */
}

.error-unsupported {
	background-color: #f00;
}