.controls-bar {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.controls {
	overflow: hidden;
}

.control-timeline {
	position: absolute; /* @todo remove */
	cursor: pointer;
}

.control-timeline-loaded {
	position: absolute; /* @todo remove */
}

.control-timeline-bar {
	position: absolute; /* @todo remove */
}

.control-button-play {
	cursor: pointer;
}

.control-button-mute {
	cursor: pointer;
}

.control-volume {
	cursor: pointer;
}

.player .wrapper {
	overflow: hidden;
	clear: both;
	background-image: url('transparent.gif');
}

.player.is-fullscreen, .player.is-fullscreen > video, .player.is-fullscreen > .wrapper {
	width: 100% !important;
	height: 100% !important;
}

.player.is-playing-ad {
	cursor: pointer;
}

.control-timeline-loaded.connect-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.control-timeline-loaded.connect-left {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}